<!DOCTYPE html>
p {
    border: 3px solid orange;
    outline-color: black;
}

div {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Google */
    column-count: 2;
}

body {
    background-color: white;
}

h1 {
    color: orange;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

