<!DOCTYPE html>
<left>
element style {
    color:orange;
}
    
div {
    column-count: 1;
    width:50%;
    Margin:auto;
    Display: block;
    background-color:white;
    text-align:center;
}

nav {
    color:black
    font-size: 40px;
    font-family: verdana;
    background-color: Orange;
}
h1 {
    color: orange;
    text-align: center;
}

H2 {
    text-align:center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

html {
    background: url(https://image.freepik.com/free-vector/spooky-halloween-background-with-pumpkins-in-a-cemetery_1048-3055.jpg) no-repeat center fixed; 
    background-size: cover;
}
body {
    background-image: url("https://image.freepik.com/free-vector/spooky-halloween-background-with-pumpkins-in-a-cemetery_1048-3055.jpg");
    background-color: #cccccc;
}


 </left>
