<!DOCTYPE html>
<left>
element style {
    color:black;
}
    
div {
    column-count: 1;
    width:75%;
    Margin:auto;
    Display: block;
    background-color:orange;
    text-align:center;
    
}

p {
    font-size: 24px;
}

html {
    background: url(https://image.freepik.com/free-vector/spooky-halloween-background-with-pumpkins-in-a-cemetery_1048-3055.jpg) no-repeat center fixed; 
    background-size: cover;
}
</left>
