<!DOCTYPE html>
<left>
element style {
    color:black;
}
    
div {
    column-count: 1;
    width:75%;
    Margin:auto;
    Display: block;
    background-color:orange;
    text-align:center;
    
}

p {
    font-size: 24px;
}

html {
    background: url(http://media.npr.org/assets/img/2011/10/26/halloween-eabedc815b128b248dad96deb61ef75d14cda3ad-s900-c85.jpg) no-repeat center fixed; 
    background-size: cover;
}
</left>
