<!DOCTYPE html>
p {
    border: 3px solid orange;
    outline-color: black;
}

div {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Google */
    column-count: 2;
}

body {
    background-color: white;
}
<img src="http://cdn.history.com/sites/2/2013/11/Halloween-Hero-1-A.jpeg">
h1 {
    color: orange;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
<img src="http://www.townofbelleair.com/images/pages/N299/Halloween%20Characters.jpg">
