<!DOCTYPE html>
p {
    border: 60px solid orange;
    outline-color: black;
}

div {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Google */
    column-count: 2;
}

body {
    background-color: white;
}

h1 {
    color: orange;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}


html {
    background: url(https://image.freepik.com/free-vector/spooky-halloween-background-with-pumpkins-in-a-cemetery_1048-3055.jpg) no-repeat center fixed; 
    background-size: cover;
}
