
body {
    background-color: grey;
}
<img src="http://cdn.history.com/sites/2/2013/11/Halloween-Hero-1-A.jpeg">
h1 {
    color: orange;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
