<!DOCTYPE html>
<left>
element style {
    color:black;
}
    
div {
    column-count: 1;
    width:50%;
    Margin:auto;
    Display: block;
    background-color:orange;
    text-align:center;
}
</left>
