<!DOCTYPE html>

element style {
    color:orange;
    text-align:left;
    background-color:black;
}
    
div {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Google */
    column-count: 1;
    width:50%;
    Margin:auto;
    Display: block;
}




html {
    background: url(https://image.freepik.com/free-vector/spooky-halloween-background-with-pumpkins-in-a-cemetery_1048-3055.jpg) no-repeat center fixed; 
    background-size: cover;
}
body {
    background-image: url("https://image.freepik.com/free-vector/spooky-halloween-background-with-pumpkins-in-a-cemetery_1048-3055.jpg");
    background-color: #cccccc;
}

.center {
    text-align: center;
    border: 3px orange;
}
 
